.container{
    margin: auto;
    margin-top: 15%;
    background-color: #6cb3a6;
    height: 300px;
    width: 400px;
    vertical-align: middle;
    position: relative;
}

.upperball{
    height: 90px;
    width: 190px;
    background-color: #d25b70;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    top: 54px;
    left: 105px;
    border-radius: 100px 100px 0 0;
}

.lowerball{
    height: 90px;
    width: 190px;
    background-color: #ffffff;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    bottom: 54px;
    left: 105px;
    border-radius: 0 0 100px 100px;
}

.middleball{
    background-color: #f6df96;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 115px;
    left: 165px;
    border-radius: 100%;
    border: #781728 10px solid;
}

.bgball{
    background-color: #781728;
    height: 60px;
    width: 175px;
    position: absolute;
    top: 120px;
    left: 112.5px;
    /* border-radius: 100%; */
    vertical-align: middle;
}